header h1 {
	display: inline-block;
	font-size: 48px;
	vertical-align: middle;
	color: #ff8b31;
	text-align: center;
}
header h2 {
	color: #ff8b31;
}
main{
	background-color: #00a4ba;
	color: #ff8b31;
	text-align: center;
}