body {
	font-family: Optima, sans-serif;
}

label {
	display: inline-block; 
	width: 120px;
	}

#locations {
	width: 700px;
	margin: 0 auto;
	font-size: 20px;
	border-spacing: 0;
}

#locations tr {
  height: 40px;
}

#locations td {
  padding: 0;
  border-bottom: 1px solid #a0a8aa;
}

#locations tr:first-of-type {
  font-size: 36px;
}

#locations tr:nth-of-type(2n + 3) {
  background-color: #f0f8ff;
}

#locations tr:hover {
  background-color: #d0d8dd;
}
