/* header h1 {
	display: inline-block;
	font-size: 48px;
	vertical-align: middle;
	color: #ff8362;
	text-align: center;
}
header h2 {
	color: #ff8362;
}
*/
body{
	background-color: #3c4663;
	color: #ff8362;
	text-align: center;
	font-family: courier, monospace;
}

ul {
	list-style-type:none
}

body h3{
	font-family:Avenir, serif;
}
